# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ cim_ip }} {{ cim_hostname }}
{{ pump_ip }} {{ pump_hostname }}
{{ vtsi_ip }} {{ vtsi_hostname }}
{{ mdb_ip }} {{ mdb_hostname }}
